.analysis-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6px;
  margin-bottom: 1rem;
}

.analysis-card {
  background: var(--bg-card);
  border-radius: 10px;
  border: 0.5px solid var(--border);
  margin: 10px 5px;
   padding: 8px 10px;
}
.card-value {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);
  padding-bottom: 10px;
}

.card-value-title{
    font-size: 10px;
    color: var(--text-dim);
    text-transform: uppercase;
    letter-spacing: .06em;
    margin-top: 1px;
}