.left-panel-card {
    height: 100%;
    width: 300px;
    border-right: 0.5px solid var( --border-soft);
    background-color: var(--bg-app);
    margin-left: 15px;
}
.user-section {
  color: black;
  display: flex;
  height: 150px;
  border-bottom: 0.15px solid #B1ADAD;
  margin: 15px;
}

.cta-button-blue {
  background-color: #4B5563;
  color: #fff;
  height: 30px;
  width: 200px;
  border-radius: 7px;
  margin-top: 15px;
  margin-left: 18%;
  text-align: center;
  font-size: 13px;
  padding-top: 4px;
}

.cta-button-gray {
  background-color: #ECE8E8;
  color: black;
  height: 30px;
  width: 200px;
  margin-top: 5px;
  border-radius: 7px;
  margin-left: 18%;
  padding-top: 4px;
  font-size: 13px;
}

.buttons-section {
  margin-top: 25px;
}

.card-headers {
  text-align: left;
  margin-left: 10px;
}

.skin-tone {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 0.5px solid #B1ADAD;
  margin: 69px;
  background: burlywood;
}
.theme-toggle{
    display: flex;
    gap: 10px;
    border-radius: 7px;
    background: transparent;
    border: 0.5px solid var(--border-soft);
    color: var(--text-dim);
    font-size: 15px;
    cursor: pointer;
    width: 80%;
    height: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
.theme-toggle:hover{
  border: none;
  background-color: var(--bg-card);
}
.theme-toggle:focus{
  outline: none;
}